.tainer-general{
    display: grid;
    grid-template-rows: auto auto;/* Dos filas de tamaño automático */
}
/*New style*/
.tainer2{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
}
/*New style*/
.tainer2B {
    display: grid; /* Esto debe ir antes */
    grid-template-rows: auto; /* 1 fila de tamaño automático */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
}
/*Estilos generar nueva orden*/
.input-user-name-order{
    border-radius: 5px;
    background-color: rgb(136, 228, 192);
    padding-left: 15px;
    padding-top: 3px;
    width: 500px;
    height: 40px;
}
#selecction-userord{
    font-size: 13px;
    margin-left: 80px;
    margin-bottom: -90px;
}
#new-order{
    font-size: 13px;
    margin-left: 520px;
    margin-bottom: -90px
}
.butooons{
    display: flex;
    flex-direction: row;/*todos los elementos en una fila*/
}
#regis-prod{
    margin-left: 0px;
    margin-right: 0px;
    font-size: 15px;
}
#product-permisstio{
    font-size: 15px;
    margin-left: 0px;
}
#permisos-prod{
    font-size: 15px;
}
.fondoOscuro{
    border-radius: 10px;
    background-color: rgb(143, 146, 146);
    margin-bottom: -50px;
}
.list-product{
    max-height: 160px; /* Ajusta según tu diseño */
    overflow-y: auto; /* Habilita scroll vertical */
}
.list-users-Norder{
    max-height: 150px; /* Ajusta según tu diseño */
    overflow-y: auto; /* Habilita scroll vertical */
}
#message-user-order-new{
    color: rgb(218, 37, 118);
}
.register-productss{
    background-color: rgb(230, 230, 227);
    margin-top: 0px;
    border-radius: 10px;
}
.register-productss .formGroup{
    margin: 15px;
}
.btn-regis {
    text-align: center;
    margin-top: 20px;
}
.area-work{
    margin-top: 0px;
}
h4{
    color: rgb(8, 126, 134);
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
}
/*Estilos segundo formulario*/
.permisos-productss{
    margin-top: 0px;
    align-items: center;/*Centra elementos horizontalemnte*/
    background-color: rgb(230, 230, 227);
    display: flex;
    flex-direction: column; /*'row' pone en fila ambos div, 'column'->Organiza en columna los elementos */
    gap: 10px; /* Espacio entre los div */
    border-radius: 10px;
}
.cont-divs{
    display: flex;
    flex-direction: row;
}
.select-usuario{
    height: 200px;
    width: 190px;
    background-color: rgb(190, 190, 196);
    border-radius: 10px;
    margin-right: px;
    margin-top: px;
}
.select-product{
    height: 200px;
    width: 190px;
    background-color: rgb(190, 190, 196);
    border-radius: 10px;
    margin-top: px;
}
/*UBicacion de peticon users*/
.listt{
    margin-top: -230px;
    margin-left: -230px;
    max-height: 150px; /* Ajusta según tu diseño */
    overflow-y: auto; /* Habilita scroll vertical */
}
.listt-product{
    margin-left: 170px;
    margin-top: -150px;
    max-height: 150px; /* Ajusta según tu diseño */
    overflow-y: auto; /* Habilita scroll vertical */
}
/*Mensajes sobre diferentes peticiones*/
#message-usuario{
    color: rgb(223, 41, 126);
    text-align: left;
}