.contenedor-principalit{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
  gap: 10px; /* Espacio entre áreas */
  margin-right: 10px;
}
.espacio-trabajo{
    background-color: rgb(230, 230, 227);
    width: 1000px;
    height: 400px;
    margin-left: 60px;
    margin-top: 150px;
    border-radius: 10px;
}
#new-order{
    margin-top: 140px;
    margin-left: 855px;
}
.butooons{
    margin-left: 475px;
    margin-top: 10px;
}
#regis-prod{
    margin: 5px;
    font-size: 15px;
}
#product-permisstio{
    font-size: 15px;
}
#permisos-prod{
    font-size: 15px;
}
.detail-products{
    width: 350px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(190, 190, 196);
    margin-left: 630px;
    margin-top: 10px;
}
.list-product{
    margin-left: 630px;
    margin-top: -150px;
    max-height: 150px; /* Ajusta según tu diseño */
    overflow-y: auto; /* Habilita scroll vertical */
}
.register-productss{
    background-color: rgb(230, 230, 227);
    margin-top: 150px;
    border-radius: 10px;
}
.register-productss .formGroup{
    margin: 15px;
}

.btn-regis {
    text-align: center;
    margin-top: 20px;
}
.area-work{
    margin-top: 50px;
}
h4{
    color: rgb(149, 33, 226);
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}
/*Estilos segundo formulario*/
.permisos-productss{
    margin-top: 150px;
    align-items: center;/*Centra elementos horizontalemnte*/
    background-color: rgb(230, 230, 227);
    display: flex;
    flex-direction: column; /*'row' pone en fila ambos div, 'column'->Organiza en columna los elementos */
    gap: 10px; /* Espacio entre los div */
    border-radius: 10px;
}
.cont-divs{
    display: flex;
    flex-direction: row;
}
.select-usuario{
    height: 200px;
    width: 190px;
    background-color: rgb(190, 190, 196);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 7px;
}
.select-product{
    height: 200px;
    width: 190px;
    background-color: rgb(190, 190, 196);
    border-radius: 10px;
    margin-top: 7px;
}
/*UBicacion de peticon users*/
.listt{
    margin-top: -230px;
    margin-left: -230px;
    max-height: 150px; /* Ajusta según tu diseño */
    overflow-y: auto; /* Habilita scroll vertical */
}
.listt-product{
    margin-left: 170px;
    margin-top: -150px;
    max-height: 150px; /* Ajusta según tu diseño */
    overflow-y: auto; /* Habilita scroll vertical */
}
/*Mensajes sobre diferentes peticiones*/
#message-usuario{
    color: blue;
    text-align: left;
}
