.tainer-general{
    display: grid;
    grid-template-rows: auto auto auto;/* Dos filas de tamaño automático */
}
/*New style*/
.tainer2{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
}
/*New style*/
.tainer2B {
    display: grid; /* Esto debe ir antes */
    grid-template-rows: auto; /* 1 fila de tamaño automático */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
}
/*New stil*/
.tainer3{
    display: grid;
    grid-template-columns: 1fr; /* 1 columnas iguales */
    background-color: black;
}
/*Estilos generar nueva orden*/
.input-user-name-order{
    border-radius: 5px;
    background-color: rgb(136, 228, 192);
    padding-left: 15px;
    padding-top: 3px;
    width: 500px;
    height: 40px;
}
#selecction-userord{
    font-size: 13px;
    margin-left: 80px;
    margin-bottom: -90px;
}
#new-order{
    font-size: 13px;
    margin-left: 630px;
    margin-bottom: -130px
}
.butooons{
    display: flex;
    flex-direction: row;/*todos los elementos en una fila*/
}
#regis-prod{
    margin-left: 0px;
    margin-right: 0px;
    font-size: 15px;
}
#product-permisstio{
    font-size: 15px;
    margin-left: 0px;
}
#permisos-prod{
    font-size: 15px;
}
.fondoOscuro{
    border-radius: 10px;
    background-color: rgb(60, 143, 143);
    margin-bottom: -50px;
}
.list-product{
    max-height: 160px;/* Ajusta según tu diseño */
    overflow-y: auto;
}
.list-users-Norder{
    max-height: 150px;
    overflow-y: auto;/* Habilita scroll vertical */
}
#message-user-order-new{
    color: rgb(218, 37, 118);
}
.register-productss{
    background-color: rgb(230, 230, 227);
    margin-top: 0px;
    border-radius: 10px;
}
.register-productss .formGroup{
    margin: 15px;
}
.btn-regis {
    text-align: center;
    margin-top: 20px;
}
.area-work{
    margin-top: 0px;
}
h4{
    color: rgb(29, 105, 141);
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    margin-bottom: 0;
}
/*Estilos segundo formulario*/
.permisos-productss{
    margin-top: 5px;
    align-items: center;/*Centra elementos horizontalemnte*/
    background-color: rgb(230, 230, 227);
    display: flex;
    flex-direction: column;/*'row' pone en fila ambos div, 'column'->Organiza en columna los elementos */
    gap: 10px;/* Espacio entre los div */
    border-radius: 10px;
}
.cont-divs{
    display: flex;
    flex-direction: row;
    margin-top: 20px;/*aca div que contiene los fonfod*/
}
.select-usuario{
    margin: 2px;
    height: 200px;
    width: 150px;
    background-color: rgb(190, 190, 196);
    border-radius: 10px;
}
.select-product{
    height: 200px;
    width: 150px;
    background-color: rgb(190, 190, 196);
    border-radius: 10px;
    margin-top: px;
}
/*UBicacion de peticon users*/
.listt{
    margin-top: -210px;
    margin-left: -170px;
    max-height: 150px;/* Ajusta según tu diseño */
    overflow-y: auto;/* Habilita scroll vertical */
}
.listt-product{
    margin-left: 135px;
    margin-top: -160px;
    max-height: 150px;/* Ajusta según tu diseño */
    overflow-y: auto;/* Habilita scroll vertical */
}
/*Mensajes sobre diferentes peticiones*/

.alertmessage{
    position: absolute;   /* Se coloca de forma absoluta */
    top: 120px;            /* Se ubica 10px desde arriba */
    left: 50%;            /* Se mueve al centro horizontalmente */
    transform: translateX(-50%);  /* Ajusta el centro exacto */
    width: auto;          /* Ajusta el ancho al contenido */
    padding: 10px 20px;   /* Espaciado interno */
    z-index: 1000;        /* Se asegura de estar sobre los demás elementos */
}