<div class="tainer-general">
  <div class="tainer1">
    <div class="contain" style="flex-direction: row; display: flex; margin-top: 20px;">
        <p style="margin-right: 900px;">Vista Principal, con todos los permisos para usuarios con rol: 'admin'.</p>
        <!-- usuario logueado-->
        <div class="user-logued" style="height: 30px; width: 300px; margin-top: 5px; padding-left: 10px; padding-top: 2px; background-color:  rgb(121, 218, 210); border-radius: 10px;">Hola de nuevo.! <strong style="margin-left: 50px;">{{copyuserName.name}}</strong>
        </div>
        <button style="border-radius: 10px; font-size: 15px; margin-left: 10px;" (click)="logout()">Cerrar sesión</button>
    </div>
    <div class="alertmessag" style="margin-top: 130px; margin-left: 900px;">
      <div *ngIf="message" class="alert alert-position" [ngClass]="{'alert-success': isSuccess, 'alert-danger': !isSuccess}" style="padding: 7px; width: 500px; padding-left: 40px;">
        {{ message }}
      </div>
    </div>
  </div>
  <div class="tainer2">
    <div class="sas" style="background-color: rgb(206, 206, 204); border-radius: 10px; margin: 8px; padding: 8px; height: 400px;">
      <div class="butooons" >
        <div class="input-user-name-order" style="padding-top: 7px; margin-top: 12px;">Orden para el usuario : {{ usuarioName.name }}</div>
        <button style="font-size: 14px; margin: 2px;" class="btn btn-primary"  (click)="toggleProductForm()">Registrar Producto</button>
        <button style="font-size: 14px; margin: 2px;" class="btn btn-primary"  (click)="toggleProductPermisions(); fetchUsers(); fetchProductsPermisions()">Permisos Productos</button>
        <button style="font-size: 14px; margin: 2px;" class="btn btn-primary"  (click)="toggleUserReegisterInView()">Registrar ususrios</button>
      </div>
      <div class="sss" style="margin-top: 50px;">
        <span id="message-user-order-new" style="margin-left: 40px; margin-right: 250px;">Usuarios disponibles.</span>
        <span id="message-user-order-new">Seleccione los productos y la cantidad a incluir, en la orden.</span>
      </div>
        <div class="fondoOscuro"></div><!--Div para mostrar usuarios para orden-->
        <div class="fondoOscur" style="height: 190px; width: 405px;"></div><!--Div fondo oscuro, para mostrar productos-->
      <div class="">
        <button type="submit" id="new-order" class="btn btn-success" (click)="saveOrder()">Generar Orden</button>
      </div>
      <div class="iteratorPandU" style=" margin-left: 40px; margin-top: -150px; display: flex; flex-direction: row; justify-content: space-between;">
        <ul style="max-height: 150px; overflow-y: auto; font-size: 15px;">
          <li *ngFor="let usseer of usersGetRequestOrder">
            <input type="checkbox" (change)="togUserSelectionOrder(usseer, $event)" [checked]="userSelectedOrder?.id == usseer.id">
            {{ usseer.name }}
          </li>
        </ul>
        <ul style="font-size: 15px; max-height: 150px; overflow-y: auto;">
          <li *ngFor="let productsGenerateOrden of products" style="display: flex; align-items: center; gap: 15px; padding: 5px;">
            <input type="checkbox" (change)="toggleProductSelection(productsGenerateOrden, $event)">
            <p style="margin: 0;">
              {{ productsGenerateOrden.name }} <strong style="color: blue;"> -- Stock :</strong> {{ productsGenerateOrden.stock }}
              <strong style="color: purple;"> Cantidad :</strong>
            </p>
            <!--<input type="number" style="border-radius: 10px; width: 60px;" [(ngModel)]="productsGenerateOrden.quantity" (change)="validateQuantity(productsGenerateOrden)">-->
            <input type="number" style="border-radius: 10px; width: 60px;" [(ngModel)]="productsGenerateOrden.quantity" (input)="validateQuantity(productsGenerateOrden)">
          </li>
        </ul>
      </div>
    </div>
    <div class="tainer2B" style="gap: 3px;">
      <!-- ngIf para ocultar/mostrar el formulario -->
      <div class="register-productss" *ngIf="showForm">
        <h4>Registre un nuevo producto.</h4>
        <div class="area-work">
          <form [formGroup]="registerForm" (ngSubmit)="registerproduct()">
            <div class="formGroup" id="div-product">
              <label for="name">Producto.</label>
              <input type="text" id="name" formControlName="name" class="form-control">
              <div *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched" class="text-danger">
                Ingrese un producto valido..
              </div>
            </div>
            <div class="formGroup">
              <label for="stock">stock.</label>
              <input type="text" id="stock" formControlName="stock" class="form-control">
              <div *ngIf="registerForm.controls['stock'].invalid && registerForm.controls['stock'].touched" class="text-danger">
                Ingrese stock del producto..
              </div>
            </div>
            <div class="formGroup">
              <label for="price">price.</label>
              <input type="text" id="price" formControlName="price" class="form-control">
              <div *ngIf="registerForm.controls['price'].invalid && registerForm.controls['price'].touched" class="text-danger">
                Ingrese el precio del producto..
              </div>
            </div>
            <div class="formGroup btn-regis">
              <button type="submit" id="register" class="btn btn-primary" [disabled]="registerForm.invalid">Registrar.</button>
            </div>
          </form>
        </div>
      </div>
      <!--Restriccion de productos a usuario-->
      <div class="permisos-productss" *ngIf="showForm2">
        <h4>Restricción de productos.</h4>
        <span id="message-usuario" style="text-align: center;">Seleccione el usuario y los productos<br>que quiere restringirle.</span>
        <div class="cont-divs">
          <div class="select-usuario"></div><!--Div fondo oscuro, para mostrar usuarios-->
          <div class="select-product"></div><!--Div fondo oscuro, para mostrar productos-->
        </div>
        <div class="guardar-cmbios">
          <button type="submit" id="guardar-cambios" style="font-size: 14px; margin-bottom: -60px;" class="btn btn-primary" (click)="saveChanges()">Guardar Cambios.</button>
        </div>
        <div class="listt">
          <ul style="list-style: none;">
            <li *ngFor="let user of users">
              <input type="checkbox" (change)="userSelection(user, $event)" [checked]="selectedUser?.id === user.id">
              {{ user.name }}
            </li>
          </ul>
        </div>
        <div class="listt-product">
          <ul style="list-style: none;">
            <li *ngFor="let productsSelectedP of GetproductsPermissions">
              <input type="checkbox" (change)="toggleProductSelectionPermsions(productsSelectedP, $event)">
              {{ productsSelectedP.name }}
            </li>
          </ul>
        </div>
      </div>
      <!-- ngIf para ocultar/mostrar el formulario Registro Usuarios-->
      <div class="registr-userss" *ngIf="showForm3" style="margin-right: 7px; background-color: rgb(230, 230, 227); border-radius: 10px;">
        <h4>Registre un nuevo usuario.</h4>
        <div class="area-wor">
          <form style="padding: 10px;" [formGroup]="userFormValidate" (ngSubmit)="onSubmitUsr()">
            <div class="formGroup" id="">
              <label style="margin-top: 5px;" for="name">Nombre.</label>
              <input type="text" id="name" formControlName="name" class="form-control">
              <div *ngIf="userFormValidate.controls['name'].invalid && userFormValidate.controls['name'].touched" class="text-danger">
                Ingrese su nombre..
              </div>
            </div>
            <div class="formGroup">
              <label style="margin-top: 12px;" for="email" class="form-label">Correo Electrónico</label>
              <input type="email" id="email" class="form-control" formControlName="email">
              <div *ngIf="userFormValidate.controls['email'].invalid && userFormValidate.controls['email'].touched" class="text-danger">
                Ingresa un correo válido.
              </div>
            </div>
            <div class="formGroup">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" id="password" class="form-control" formControlName="password">
              <div *ngIf="userFormValidate.controls['password'].invalid && userFormValidate.controls['password'].touched" class="text-danger">
                Ingrese una contraseña..
              </div>
            </div>
            <div class="formGroup">
              <button style="margin-top: 20px; margin-left: 90px;" type="submit" id="" class="btn btn-primary" [disabled]="userFormValidate.invalid">Registrar.</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tainer3" style="border-radius: 10px; background-color: rgb(206, 206, 204); height: 160px; width: 940px; margin-left: 10px">
  <h4>Ordenes realizadas.</h4>
</div>